
<section class="_banner about"
         ng-style="{'background-image': 'url(./assets/images/about/banner.jpg)'}">
    <div class="_overlay-inner">
    </div>
</section>
<section class="center-content">
    <div class="_wrap">
        <h2 class="h1">About us</h2>
        <p>Uniglobe International was established in 2002 in Australia as a specialist contractor to Australia Post by entrepreneur Rohan De Silva. The company also has sole distributor/agency rights in Sri Lanka & Victoria for Yato Tools as well as commercial interests in a multitude of other businesses both in Sri Lanka & Australia</p>
        <!--<p></p>-->
    </div>
</section>
<section class="center-content _grey">
    <div class="_wrap">
        <h3 class="h1">Products and Services</h3>
        <p>Uniglobe’s product line is rather extensive, with over 1500 items. We try to keep a stock in these items ready for immediate delivery. (especially the Tools and Kitchen products and some amenities)</p>
    </div>
</section>
<section class="center-content">
    <div class="_wrap">
        <h3 class="h1">Sourcing</h3>
        <p>Our product partners locations are a distinct advantage for manufacturing and distribution. We have suppliers from around the globe that help us source our products.</p>
        <p>With the increase of our sales we, we have been able to source products at a very competitive price and pass on the benefits to our customers.</p>
        <p>Uniglobe have distribution rights for YATO Gastro (Kitchenware) as well as YATO Tools. Yato is a European company that manufactures and distributes its range worldwide. We are authorized to sell and service the entire Range of Kitchen appliances.</p>
        <p>Uniglobe endeavours to bring to you end to end solutions for your business with products from companies like Chefs Craft, Medi8 Work Craft (Uniform and Safety ware / Garments for various Market and industry segments. We are currently in the process of acquiring the distribution rights for Biotrem, an internationally Recognized European company manufacturing and selling Bio edible and degradable Plates, Bowls, Cutlery etc…</p>
        <p>Our Company has grown over the years. Importantly, in most of these years, we have kept up with the industry growth in the segments we operate in and we have constantly invested to conquer new frontiers and sustain future growth.</p>
        <!--<p>We hope you take the time to go thru our product catalogue and give us a call to discuss how we can be of service to your organization.</p>-->
    </div>
</section>
<section class="home-services">
    <div class="_wrap1280">
        <h1 class="h1 text-center">OUR STRENGHTS</h1>
        <div class="_wrap">
            <aside>
                <img src="assets/images/delivery.svg" alt="" />
                <h4>14 Delivery Vehicles</h4>
                <p>Uniglobe International owns 14 delivery vehicles comprising mainly of Star Track branded new Toyota Hi-Ace vans which are used for its business partnership with Australia Post. The vehicle fleet is fully insured & is inspected on a periodic basis for any shortcomings.</p>
            </aside>
            <aside>
                <img src="assets/images/fast.svg" alt="" />
                <h4>Fast & Reliable Services</h4>
                <p>Star Track & Australia Post are the country’s leading logistics providers delivering to almost 12 million addresses across Australia and to more than 190 countries worldwide. Most deliveries nationally happen within 48 hours or less & Uniglobe International plays a key part in this service.</p>
            </aside>
            <aside>
                <img src="assets/images/years.svg" alt="" />
                <h4>15 Years Business</h4>
                <p>Uniglobe International has been in operation for over 15 years currently having multiple contracts for depot bags, parcels & mail delivery operations in the South Eastern suburbs of Melbourne.</p>
            </aside>
            <aside>
                <img src="assets/images/warehouse.svg" alt="" />
                <h4>Secure Warehouse</h4>
                <p>The company recently acquired a state of the art warehouse in Victoria’s south eastern industrial hub of Dandenong. The 200sqm site can be used for short term storage </p>
            </aside>
        </div>
    </div>
</section>
<section class="center-content _car">
    <div class="_wrap">
        <h3 class="h1">Our Vision</h3>
        <p>To be the premier tools, safety equipment and logistics provider in South Eastern Melbourne.</p>
    </div>
</section>
<section class="center-content">
    <div class="_wrap">
        <h3 class="h1">Our Mission</h3>
        <p>Be the first name that comes to mind for tools & safety supplies by providing high quality affordable products which deliver unmatched value for money.</p>
    </div>
</section>

<section class="center-content _grey">
    <div class="_wrap1280">
        <h3 class="h1">Privacy Policy</h3>
        <p>Uniglobe International Pty Ltd knows that you care how information about you is used and shared, and we appreciate your trust that we will do so carefully and sensibly. This notice applies to information collected by Uniglobe International Pty Ltd or its affiliates ("Uniglobe International Pty Ltd") in connection with Uniglobe International .com.au and other sites and services operated by Uniglobe International Pty Ltd as we disclose to you.</p>
        <p><strong>What Personal Information About Customers Does Uniglobe International Pty Ltd Gather?</strong></p>
        <p>The information we learn from customers helps us personalize and continually improve your Uniglobe International experience. We use the information to handle orders, products and services, communicate with you about orders, products, services, for marketing communications, to update our records, and to recommend merchandise and services that might be of interest to you. We also use this information to improve our services, store, websites and applications (together "sites"), prevent or detect fraud or abuses of our sites and enable third parties to carry out technical, logistical or other functions on our behalf.</p>
        <p>Here are the types of information we gather.</p>
        <p>
            <ol type="1" style="text-align:left;font-family:'Lato',sans-serif;font-size: 0.9em; line-height:1.35;margin-bottom:16px">
                <li style="margin-bottom:4px"><strong>Information You Give Us: </strong> We receive and store any information you enter on our sites or give us in any other way.  You can choose not to provide certain information, but then you might not be able to take advantage of many of our features. We use the information that you provide for such purposes as responding to your requests, customizing future shopping for you, improving our stores, and communicating with you.</li>
                <li style="margin-bottom:4px"><strong>Automatic Information:</strong> We receive and store certain types of information whenever you interact with us. For example, like many websites, we use "cookies," and we obtain certain types of information when your browser accesses sites or advertisements and other content served by or on behalf of Uniglobe International Pty Ltd on other websites. </li>
                <li style="margin-bottom:4px"><strong>E-mail Communications: </strong> To help us make e-mails more useful and interesting, we often receive a confirmation when you open e-mails from Uniglobe International Pty Ltd if your device supports such capabilities. We also compare our customer list to lists received from other companies in an effort to avoid sending unnecessary messages to our customers.</li>
                <li style="margin-bottom:4px"><strong>Information from Other Sources: </strong> We might receive information about you from other sources and add it to our account information. </li>
            </ol>
        </p>
        <p><strong>What About Cookies?</strong></p>
        <p>
            <ol type="1" style="text-align:left;font-family:'Lato',sans-serif;font-size: 0.9em; line-height:1.35;margin-bottom:16px">
                <li style="margin-bottom:4px">Cookies are unique identifiers that we transfer to your device to enable our systems to recognize your device and to provide features such as, product recommendations, personalized advertisements on other websites (e.g., Uniglobe International Pty Ltd Associates may use content served by Uniglobe International Pty Ltd.com.au) </li>
                <li style="margin-bottom:4px">The Help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-ons settings or visiting the website of its manufacturer. Because cookies allow you to take advantage of some of Uniglobe International.com.au's essential features, we recommend that you leave them turned on.</li>
            </ol>
        </p>
        <p><strong>Does Uniglobe International Pty Ltd Share the Information It Receives?</strong></p>
        <p>Information about our customers is an important part of our business, and we are not in the business of selling it to others. We share customer information only as described below and with subsidiaries Uniglobe International Pty Ltd.com, Inc. controls that either are subject to this Privacy Notice or follow practices at least as protective as those described in this Privacy Notice. These Uniglobe International Pty Ltd entities may be located in other countries.</p>
        <p><strong>Third-Party Businesses We Do Not Control:</strong>We work closely with other businesses. In some cases, such as third-party sellers, these businesses operate stores at Uniglobe International Pty Ltd.com.au or sell offerings to you at Uniglobe International Pty Ltd.com.au. When you place an order from a third-party seller, information related to the order will be provided to the seller, and such information will be subject to the seller's privacy policy. In other cases, we operate stores, provide services, or sell or market product lines jointly with these businesses or make available third-party features or services you may choose to use on Uniglobe International Pty Ltd.com.au. You can tell when a third party is involved in your transactions, and we share customer information related to those transactions with that third party. These third parties may be located in other countries.</p>
        <p>
            <ol type="1" style="text-align:left;font-family:'Lato',sans-serif;font-size: 0.9em; line-height:1.35;margin-bottom:16px">
                <li style="margin-bottom:4px"><strong>Third-Party Service Providers: </strong>We employ other companies and individuals to perform functions on our behalf. Examples include fulfilling orders, delivering packages, sending postal mail and e-mail, removing repetitive information from customer lists, analysing data, providing marketing assistance, providing search results and links (including paid listings and links), processing credit card payments, and providing customer service. They have access to personal information needed to perform their functions but may not use it for other purposes. These service providers may be located in other countries.</li>
                <li style="margin-bottom:4px"><strong>Marketing Communications: </strong>Sometimes and with the required consent we send communications to selected groups of Uniglobe International Pty Ltd customers on behalf of other businesses. When we do this, we do not give that business your name and address. </li>
                <li style="margin-bottom:4px"><strong>Business Transfers: </strong>As we continue to develop our business, we might sell or buy stores, subsidiaries, or business units. In such transactions, customer information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing Privacy Notice (unless, of course, the customer consents otherwise). Also, in the unlikely event that Uniglobe International Pty Ltd.com, Inc., or substantially all of its assets are acquired, customer information will of course be one of the transferred assets.</li>
                <li style="margin-bottom:4px"><strong>Protection of Uniglobe International Pty Ltd and Others: </strong>We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property, or safety of Uniglobe International Pty Ltd, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction. Obviously, however, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers for commercial purposes in violation of the commitments set forth in this Privacy Notice.</li>
                <li style="margin-bottom:4px"><strong>With Your Consent: </strong>Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.</li>
            </ol>
        </p>

        <p><strong>How Secure Is Information About Me?</strong></p>
        <p>We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input.</p>
        <p><strong>What About Third-Party Advertisers and Links to Other Websites?</strong></p>
        <p>Our sites may include third-party advertising and links to other websites</p>
        <p><strong>What Choices Do I Have?</strong></p>
        <p>As discussed above, you can always choose not to provide information, even though it might be needed to make a purchase or to take advantage of such Uniglobe International Pty Ltd features </p>
        <p>
            <ol type="1" style="text-align:left;font-family:'Lato',sans-serif;font-size: 0.9em; line-height:1.35;margin-bottom:16px">
                <li style="margin-bottom:4px">You can add or update certain information on pages such as those referenced in the Which Information Can I Access? section. When you update information, we usually keep a copy of the prior version for our records.</li>
                <li style="margin-bottom:4px">You can manage the types of communications you receive from us and opt out of certain communications. You consent to receiving communications in accordance with these preferences. (If you do not want to receive Conditions of Use and other legal notices from us, such as this Privacy Notice, those notices will still govern your use of Uniglobe International Pty Ltd.com.au, and it is your responsibility to review them for changes.)</li>
                <li style="margin-bottom:4px">The Help feature on most browsers will tell you how to prevent your browser from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Additionally, you can disable or delete similar data used by browser add-ons, such as Flash cookies, by changing the add-on's settings or visiting the website of its manufacturer. Because cookies allow you to take advantage of some of Uniglobe International.com.au's essential features, we recommend that you leave them turned on</li>
            </ol>
        </p>
        <p><strong>Are Children Allowed to Use Uniglobe International.com.au ?</strong></p>
        <p>Uniglobe International Pty Ltd.com.au does not sell products for purchase by children. We sell children's products for purchase by adults. If you are under 18, you may use Uniglobe International Pty Ltd.com.au only with the involvement of a parent or guardian.</p>
        <p><strong>Complaints, Contact Information and Changes</strong></p>
        <p>If you have any concern or complaint about privacy at Uniglobe International Pty Ltd.com.au, please contact us with a thorough description, and we will try to resolve the issue for you. Our business changes constantly, and our Privacy Notice and the Conditions of Use will change also. We may e-mail periodic reminders of our notices and conditions, but you should check our site frequently to see recent changes. Unless stated otherwise, our current Privacy Notice applies to all information that we have about you and your account. We stand behind the promises we make, however, and will never materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.</p>
        <p><strong>Co-branded and Joint Offerings</strong></p>
        <p>We may from time to time offer joint or co-branded products, offerings and services in conjunction with third party businesses.</p>
        <p><strong>Information You Can Access</strong></p>
        <p>Examples of information you can access easily at Uniglobe International Pty Ltd.com.au include up-to-date information regarding products and offerings (including your product Reviews, Recommendations).</p>

    </div>
</section>
