
<section class="home-services">
    <div class="_wrap1280">
        <h1 class="h1 text-center">Our Services</h1>
        <div class="_wrap">
            <div owl-carousel="3" class="owl-carousel">
                <aside>
                    <img src="assets/images/fast.svg" alt="" />
                    <h4>Uniglobe Express</h4>
                </aside>
                <aside>
                    <img src="assets/images/delivery.svg" alt="" />
                    <h4>Delivery Solutions</h4>
                </aside>
                <aside>
                    <img src="assets/images/warehouse.svg" alt="" />
                    <h4>Storage Solution</h4>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="product-bg">
    <div class="_wrap1280">
        <aside class="_img">
            <img src="./assets/images/services.jpg" alt="" />
        </aside>
        <aside>
            <p>Door-to-door deliveries for small to medium scale corporates with guaranteed overnight delivery within Melbourne’s South Eastern suburbs.</p>
        </aside>
    </div>
</section>
